.flex-rail {
    display: flex;
    animation: marquee 15s linear infinite; /* Adjust timing here */
  }
  
  .inner-text-scrolling {
    margin-right: 50px; /* Space between repeated text blocks */
  }
  
  .text-block-9 {
    white-space: nowrap;
    display: inline-block;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-33.3%);
    }
    50% {
      transform: translateX(-66.6%);
    }
    75% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  